*{
	margin:0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a,a:hover,a:visited,a:link{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.wrapper{
	width: 75%;
	margin: 0 auto;
}
img{
	border:0 none;
}
.clearfix:after{
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
h1,h2,h3,h4,h5{
	margin:0;
	padding: 0;
}