/*最完成盒子*/
.box{
	width: 100%;
	height: 100%;
	background:rgb(45,41,68);
	position:fixed;
	min-width: 1024px;
	overflow: auto;
}
/*头部导航*/
.nav{
	width: 100%;
	background: rgb(31,26,43);
	height:65px;
}
/*.content{
	height: 100%;
}*/
/*头部选项*/
.left_nav,.right_nav{
	width: 50%;
}
.left_nav li {
	float: left;
	height: 62px;
	line-height:62px;
	width:18%;
	min-width:108px;
	text-align: center;
	margin-right:3%;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.left_nav li:hover{
	border-bottom:3px solid rgb(66,88,50)
}
.right_nav li:hover{
	border-bottom:3px solid rgb(66,88,50)
}

.right_nav li{
	float:right;
	height: 62px;
	line-height:62px;
	width:18%;
	min-width:108px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
/*主要信息*/
/*.content{overflow: hidden;}*/
.logo_and_table{
	width: 100%;
	height:150px;
}
.logo{
	width: 50%;
	height: 150px;
	line-height: 150px;
}
.logo_size{
	color: #fff;
}
.logo_img{
	width: 80px;
	height: 80px;
	margin: 35px 15px 0 15px;
}
.table_btn_box .btn_i{
	width:180px;
	height: 50px;
	margin-top: 50px;
	border:0 none;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	margin-right:5px;
	font-weight:800;
}
.btn_first{
	background: rgba(255,201,0,.9);
	box-shadow: 0px 0px 22px rgb(251,199,7);
	color:#000;
}
.btn_first:hover{
	background: rgba(250,204,1,.5);
}
.btn_two{
	color: #fff;
	background: rgb(45,41,68);
	box-shadow: 0px 0px 22px rgba(0,0,0,0.3);
}
.btn_two:hover{
	background: rgba(0,0,0,0.3);
}

/*信息框*/
.detailed_box{
	height:300px;
	background:rgba(255,255,255,.95);
	width: 100%;
	border-radius: 10px;
	box-shadow:0px 45px 15px rgb(31,26,43);
	margin-top:40px;
}
.detailed_bottom{
	width: 100%;
	text-align: center;
	height:35px;
	line-height: 35px;
	color:rgba(255,255,255,.85);
	font-size: 12px;
}
.detailed_title{
	height:70px;
	width:100 %;
	padding:0 2%;
	border-bottom: 1px solid #ccc;
}
.detailed_title_fl_msg{
	width: 50%;
	height: 70px;
}
/*信息圆圈*/
.detailed_radius{
	width: 50px;
	height: 50px;
	background:rgb(52,203,170);
	border-radius:50%;
	margin-top: 10px;
	line-height: 50px;
	color: #fff;
	text-align:center;
}
/*输入名及其提交时间*/
.detailed_title_size{
	height:60px;
	margin-top:5px;
	width:80%; 
	margin-left:10px;
}
.detailed_update_msg{
	display: block;
	*display: block;
}
.detailed_h,.detailed_update_msg{
	height: 30px;
	line-height: 30px;
}
.detailed_h{
	font-weight: 800;
}
.detailed_update_msg{
	color: #ccc;
	font-size: 12px;
}
.detailed_title_list{
	margin-bottom: 0;
}
.detailed_title_list>li{
	float: left;
	height: 70px;
	line-height: 70px;
	text-align:center;
	margin-left:25px;
}
.detailed_msg_box{
	height: 230px;
	width: 100%; 
}
/*左信息框*/
.detailed_msg_left{
	width: 34%;
	height: 228px;
	border-right:1px solid #ccc;
}
.detailed_msg_left_content{
	width: 88%;
	margin:0 auto;
}
/*条目*/
.clause{
	width: 100%;
	height: 45px;
	line-height: 45px;
	/*background: red;*/
	margin-top:4px;
}
.clause_size{
	height: 45px;
	line-height: 45px;
	font-size: 13px;
	font-weight:900;
	color:rgb(207,207,207);
}
.clause_size_msg{
	color:rgba(0,0,0,.9);
	max-width:200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*切换button*/
.Aas_btn{
	background: rgb(254,68,67);
	box-shadow: 0px 0px 10px rgb(254,68,67);
	color:#fff;
	border:0 none;
	outline: none;
}
.btn:hover{
	color:#fff
}
.btn:active{
	color:#fff
}

/*右信息框*/
.detailed_msg_right{
	width: 66%;
	height: 228px;
}
.detailed_msg_right_content{
	width:94%;
	margin:0 auto;

}

.clause_size_right{
	font-weight:900;
	color: #000;
	width: 100%;
	display: block;
	*display: block;
}
.clause_right{
	height: 90px;
}
a:hover,a:link,a:visited,a:active{
	text-decoration: none;
}
.clause_size_th{
	font-weight: 600;
	display: block;
	width:22%;
	margin-right:18px;
}
.size_color{
	font-weight: 600;
	color: #000;	
}
.F1{
	width:15%;
	margin:0;
}
.btn_first a:hover,.btn_first a:link,.btn_first a:visited,.btn_first a:active{
	color: #000;
}

.Deployment{
	cursor: pointer;
}

/*媒体查询*/
@media screen and (max-width:1200px) {
	.clause_size_msg{
		width:50px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: center;
	}
	.clause_size_th{
		font-weight: 600;
		display: block;
		width:28%;
		margin-right:5px;
	}
	.clause_size{
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.F1{
		width:12%;
		margin:0;
	}

}
